@model TOLETApp.Models.ToLetPublish

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ToLetPublish</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToLetFromMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToLetFromMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
